*{margin: 0 auto;
box-sizing:  border-box;
/*  Essa propriedade border-box, serve p/ não deixar a caixa crescer,
padrão do css, sempre usar para fazer o site.
**/
}

 

.pai{
    width: 60%;
    background-color: rgb(210, 214, 214);
}

.limpar {
    clear: both;
}
.topo{
    height: 60px;
    background-color: rgb(210, 214, 214);
    margin-top: 10px;
    color: black;
    font-size: 15px;
    text-align: center;
    border: solid;
    padding: 1%;
    margin-bottom: -4px;
    font-family: 'Times New Roman', Times, serif;


}
.topo span{ 
    margin: 10px 10px;
    padding-top: 10px;

}
.topo img{
    height: 25px;
    width: 25px;
}

.perfil{
    height: 250px;
    border: solid;
    margin-bottom: -4px;


    

}


.dados{
    width: 80%;
    float: left;
    padding-right: 15px;
    margin-top: 5px;
    text-align: justify;
    padding-left: 1%;
    font-size: 18px;

}

.foto{
    width: 20%;
    float: right;
    padding-left: 1%;
   


   

    
}
.foto img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-top: 20px;
}


.experiencias{
    width: 60%;
    float: left;
    border: solid;
    height: 253px;
    

}

.experiencias h2{
    text-decoration: underline;

}

.experiencias p {
    padding-left: 20px;
}

.tech{
    width: 40%;
    float: left;  
    border: solid;
    margin-left: -4px;
    
}

.tech h2{
    text-decoration: underline ;
}
.tech p{
    width: 50%;
    float: left;
    clear: both;
    margin-bottom: 5px;

}
.circulo{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
    margin-right: 5px;
    float: left;
}

.principal {
    margin-top: -4px;
    

}








