        table{

            border: solid 1px;
        }
        
        tr{
            border: solid 1px;
        }
        
        h1{
            text-align: center;
            background-color: #162E58;
            
        }

       

        th{
            padding: 10px;
            
        }

        img{
            width: 30px;
            height: 30px;
        }

        td{
            text-align: center;
        
        }

        




