*{margin: 0 auto;
    box-sizing:  border-box;
    /*  Essa propriedade border-box, serve p/ não deixar a caixa crescer,
    padrão do css, sempre usar para fazer o site.
    **/
    font-family: Arial, Helvetica, sans-serif;
    }

body{
    background-color: rgb(230,230,230);
}

.header{
    height: 100px;
    background-color: #162E58;
    color: white;   
    padding: 10px;
}

.header h1{
    font-size: 16px;
    font-weight: normal;
    
    
}
.header h2 {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    margin-top: 50px;
    border-bottom: 3px solid white;
    width: 100px;   
}

.temporada{
    font-size: 10px;
    color: black; 
    text-align: justify;  
    width:50%; 
    background-color: #F1F3F4;
}

h3 {
    font-size: 14px;
    color: #2c559b;
}
 


.tabela {
    width: 50%;
    margin: 0 auto;
    background-color: white;
}
table{
    width: 100%;
    font-size: 14px;
    background-color: white ;    
    border-collapse: collapse;
}

th,td {
    border-top:0.1px solid #70757a;
    padding: 5px;
    
     
}

tr{
    text-align: center;
}

th{
    font-weight: normal; 
    color: #70757a; 
    border-top: none; 
}


img  {
    width: 24px;
    height: 24px;
    
}

.primeiro {
    border-left: solid #4285F4;
    
}

.segundo {
    border-left: solid #4285F4;
    
}

.terceiro {
    border-left:solid  #FA7B17;
    
}


.grupo{
    color: black;
    font-weight: bold;
    font-size: 16px;  
    padding-top: 20px; 
}

.gols{
    width: 100%;
    background-color: white;
    margin: 0 auto;
}



.gols h3{
    background-color: #162E58;
    color: white;
    height: 40%;
    font-weight: normal;
    padding: 10px;
}

.gols img {
    border-radius: 50%;
    height: 36px;
    width: 36px;
    
}



    
    
    
