*{
    margin: 0;
}
header{
    display: flex;
    height: 20vh;
    justify-content: center;
    background-color: lightgrey;
}

nav{
    height: 10vh;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

nav ul li{
    padding: 10px;
    
}

section{
    height: 80vh;
}


footer{
    background-color: lightgray;
    height: 20vh;
}